mixin device-input(port, device, input, inputName)
    .device-input
        div
            label #{inputName}
        div
            span {{ getMappedInputName(#{port}, '#{device}', '#{input}') }}
        div
            button.btn.btn-default(ng-click="recordInput(#{port}, '#{device}', '#{input}')") Change

mixin device(port)
    .device
        .device-select
            label Controller&nbsp;#{port}
            .btn-group
                button.btn.btn-default(ng-model="controls.devices[#{port}]" btn-radio="'none'") None
                button.btn.btn-default(ng-model="controls.devices[#{port}]" btn-radio="'joypad'") Joypad
                button.btn.btn-default(ng-model="controls.devices[#{port}]" btn-radio="'zapper'") Zapper
        div(ng-show="controls.devices[#{port}] == 'joypad'")
            +device-input(port, "joypad", "a",      "A")
            +device-input(port, "joypad", "b",      "B")
            +device-input(port, "joypad", "start",  "Start")
            +device-input(port, "joypad", "select", "Select")
            +device-input(port, "joypad", "left",   "Left")
            +device-input(port, "joypad", "right",  "Right")
            +device-input(port, "joypad", "up",     "Up")
            +device-input(port, "joypad", "down",   "Down")
        div(ng-show="controls.devices[#{port}] == 'zapper'")
            +device-input(port, "zapper", "trigger", "Trigger")

.settings
    h1 Settings

    accordion
        accordion-group(is-open="emulation.visible")
            accordion-heading
                span.icon.icon-server
                | Emulation
            .emulation-settings
                .form-group
                    label(for="tv-system") TV system
                    select.form-control(id="tv-system" ng-model="emulation.tvSystem")
                        option(value="auto") Autodetect
                        option(value="ntsc") NTSC
                        option(value="pal")  PAL
                .form-group
                    label(for="speed") Emulation speed
                    slider(id="speed" ng-model="emulation.speed" min="0.25" step="0.25" max="2" formater="multiplierFormater")

        accordion-group(is-open="video.visible")
            accordion-heading
                span.icon.icon-desktop
                | Video
            .video-settings
                .form-group
                    label.control-label(for="video-debugging") Output scale
                    div
                        input.form-control(id="video-scale" type="number" ng-model="video.scale" min="1" max="{{video.maxScale}}")
                .form-group
                    label.control-label(for="color-palette") Color palette
                    div
                        select.form-control(id="color-palette" ng-model="video.palette")
                            option(value="default")   Default
                            option(value="bright")    Bright
                            option(value="realistic") Realistic
            .video-settings.form-group
                div.checkbox
                    label(for="video-smoothing")
                        input(id="video-smoothing" type="checkbox" ng-model="video.smoothing")
                        | Enable smoothing
                div.checkbox
                    label(for="video-debugging")
                        input(id="video-debugging" type="checkbox" ng-model="video.debugging")
                        | Show patterns and paletts
                div.checkbox(ng-show="video.webGLSupported")
                    label(for="video-webgl")
                        input(id="video-webgl" type="checkbox" ng-model="video.webGL")
                        | Use WebGL for rendering
                div.checkbox
                    label(for="fps-visible")
                        input(id="fps-visible" type="checkbox" ng-model="video.fpsVisible")
                        | Show FPS

        accordion-group(is-open="audio.visible" ng-show="audio.supported")
            accordion-heading
                span.icon.icon-music
                | Audio
            .audio-settings
                .form-group
                    label.control-label(for="audio-volume") Volume
                    slider(id="audio-volume" ng-model="audio.volume" ng-disabled="!audio.enabled" min="0" max="1" step="0.01" formater="percentageFormater")
            .audio-settings
                .form-group.checkbox
                    label(for="audio-enabled")
                        input(id="audio-enabled" type="checkbox" ng-model="audio.enabled")
                        | Enable audio
            .audio-settings
                .form-group.checkbox
                    label(for="audio-pulse-1-enabled")
                        input(id="audio-pulse-1-enabled" type="checkbox" ng-model="audio.channels.pulse1" ng-disabled="!audio.enabled")
                        | Enable pulse channel 1
                .form-group.checkbox
                    label(for="audio-pulse-2-enabled")
                        input(id="audio-pulse-2-enabled" type="checkbox" ng-model="audio.channels.pulse2" ng-disabled="!audio.enabled")
                        | Enable pulse channel 2
                .form-group.checkbox
                    label(for="audio-triangle-enabled")
                        input(id="audio-triangle-enabled" type="checkbox" ng-model="audio.channels.triangle" ng-disabled="!audio.enabled")
                        | Enable triangle channel
            .audio-settings
                .form-group.checkbox
                    label(for="audio-noise-enabled")
                        input(id="audio-noise-enabled" type="checkbox" ng-model="audio.channels.noise" ng-disabled="!audio.enabled")
                        | Enable noise channel
                .form-group.checkbox
                    label(for="audio-dmc-enabled")
                        input(id="audio-dmc-enabled" type="checkbox" ng-model="audio.channels.dmc" ng-disabled="!audio.enabled")
                        | Enable DMC channel

        accordion-group(is-open="controls.visible")
            accordion-heading
                span.icon.icon-gamepad
                | Audio
            .device-list
                +device(1)
                +device(2)
            .controls-settings
                div
                    button.btn.btn-default(ng-click="restoreDefaults()") Restore to defaults
                div.checkbox
                    label(for="controls-info-disabled")
                        input(id="controls-info-disabled" type="checkbox" ng-model="controls.infoDisabled")
                        | Never show controls on emulator page
